<% include ./partials/header %>
<div class="ui main text container">
    <div class="ui huge header">RESTful Blog App</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% blogs.forEach(function(blog){ %>
                <div class="item">
                    <div class="image">
                      <img src= "<%= blog.image %>" >
                    </div>
                <div class="content">
                        <a class="header" href="/blogs/<%= blog._id %>"><%= blog.title%></a><!-- pulling the blog title and other objec data to this page and putting it into where the blog post data is -->
                        <div class ="meta">
                            <span><%= blog.created.toDateString() %></span>
                        </div>
                        <div class="description">
                            <p><%-blog.body.substring(0, 100) %>...</p><!-- will shorten the post so you dont see the entire post on the index page. -->
                        </div>
                        <div class="extra">
                            <a class="ui floated basic violet button" href="/blogs/<%= blog._id %>"> <!-- adding link to the bottom of the blog item so they can click link to read more -->
                                Read More
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>    
</div>

<% include ./partials/footer %>